nav ul a,
nav .brand-logo {
  color: #444;
}

p{
    line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
#menu_index_chico{
        display: none;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
    #titulo_opi{
        font-size:4.2rem;
    }
    #menu_index{
        display: inherit;
    }
    #menu_index_chico{
        display: none;
    }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
    #menu_index{
        display: none;
    }
    #titulo_opi{
        font-size:3.4rem;
    }
    #menu_index_chico{
        display: inherit;
    }
}
@media only screen and (max-width : 340px) {
  #index-banner .section {
    top: 0;
  }
    #menu_index{
        display: none;
    }
    #titulo_opi{
        font-size:2.4rem;
    }
    #menu_index_chico{
        display: inherit;
    }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.timeline{
    width: 10px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: teal;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.ajustador{
    position: relative;
}
.evento{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width:1000px) {
    .foto{
    width: 350px;
    height: 500px;
    }
}
